name: Commit Lint
on:
  merge_group:
  pull_request:
  push:
jobs:
  gitlint:
    name: Check commit messages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade gitlint
      - name: Lint git commit messages
        # GITHUB_BASE_REF not available in merge queue. It is sufficient to run
        # this check on the PR itself before the merge queue starts.
        if: github.event_name == 'pull_request'
        run: gitlint --commits origin/$GITHUB_BASE_REF..
